<?xml version="1.0" encoding="UTF-8"?>
<widget id="uk.plc.enterprise.sarah.handford.manweb.status.updates.*new" version="1.0" width="1024" height="768" start="index.html">
<title>Manweb Status Updates *New</title>
<description>App Forms App</description>
<author name="" email="" url=""></author>
<license></license>
</widget>
